:root {
  font-family: Playfair Display, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* * {
  outline: solid 1px red;
} */

body {
  margin: 0;
}

#app {
  margin: 0;
  width: 100%;
}

button{
  border: 0;
}